/* src/components/Header.css */
.header {
    background-color: #282c34;
    padding: 0.5rem;
    color: white;
    text-align: center;
}

.header nav ul {
    list-style: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin: 0 1rem;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}